<main id="root" class="group">
  <% unless logged_in? %>
    <section id="user-edit">
      <%= render "sessions/form", user: @user %>
      <h3><a href="/auth/facebook">Sign Up via Facebook</a></h3>
    </section>
  <% end %>

  <section class="banner">
    <h2>The world's platform for change</h2>
    <h3><%= User.count %> people taking action. <%= link_to "Victories every day.", victories_url %>
    <%= link_to "Start a petition", new_petition_url, class: "call-to-action" %>
  </section>

  <section class="left">
    <%= render "victories/list", victories: @victories %>
  </section>

  <section class="left">
    <h2><a href="<%= petitions_url %>">Recent petitions</a></h2>
    <ul>
      <% @petitions.each do |petition| %>
        <%= render "petitions/root_list", petition: petition %>
      <% end %>
    </ul>
  </section>

  <section class="left">
    <%= render "causes/list", causes: @causes %>
  </section>
</main>