<main id="root" class="group">
  <section class="banner group">
    <div class="bannertext left">
      <h2>The world's platform for change</h2>
      <h3><%= User.count %> people taking action. <%= link_to "Victories every day.", victories_url, title: "Browse victories" %>
    </div>

    <% if logged_in? %>
    <%= link_to "Start a petition", new_petition_url, class: "start-petition", title: "Start a petition" %>
    <% else %>
      <section class="login left">
        <%= render "sessions/form", user: @user %>
        <h3><a href="/auth/facebook" title="Sign up via Facebook">Sign Up via Facebook</a></h3>
      </section>
    <% end %>
  </section>

  <section class="left">
    <%= render "causes/list", causes: @causes %>
  </section>

  <section class="left petitions-list">
    <%= render "petitions/root_list", petitions: @petitions %>
  </section>

  <section class="left victories-list">
    <%= render "victories/list", victories: @victories %>
  </section>
</main>