<% unless logged_in? %>
  <%= render "sessions/form", user: @user %>
<% end %>

<h2><a href="<%= victories_url %>">Recent victories</a></h2>
<ul>
  <% @victories.each do |victory| %>
  <li><%= link_to victory.petition.title, petition_url(victory.petition) %></li>
  <% end %>
</ul>

<h2><a href="<%= petitions_url %>">Popular petitions</a></h2>
<ul>
  <% @petitions.each do |petition| %>
  <li><%= link_to petition.title, petition_url(petition) %></li>
  <% end %>
</ul>
</main>