<main id="root" class="group">
  <% if logged_in? %>
  <header>
  <h1>Dashboard</h1>
  </header>
  <% else %>
  <header>
    <h1>Welcome!</h1>
  </header>
    <section id="user-edit">
      <%= render "sessions/form", user: @user %>
      <h3><a href="/auth/facebook">Sign Up via Facebook</a></h3>
    </section>
  <% end %>

  <section class="left">
    <h2><a href="<%= victories_url %>">Recent victories</a></h2>
    <ul>
      <% @victories.each do |victory| %>
      <li><%= link_to victory.petition.title, petition_url(victory.petition) %></li>
      <% end %>
    </ul>
  </section>

  <section class="left">
    <h2><a href="<%= petitions_url %>">Popular petitions</a></h2>
    <ul>
      <% @petitions.each do |petition| %>
      <li><%= link_to petition.title, petition_url(petition) %></li>
      <% end %>
    </ul>
  </section>
</main>