<% create_url = (profile.is_a?(User) ? user_comments_url(profile.id) : petition_comments_url(profile.id)) %>

<section id="comments">
  <% if profile.comments %>
  <h2>Comments</h2>
  <ul>
    <% profile.comments.each do |comment|%>
    <li class="group">
      <summary class="left">
        <h3>
          <a href="<%= user_url(comment.user) %>" title="<%= "View #{comment.user.name}'s profile" %>">
            <img src="<%= comment.user.image.url(:thumbnail) %>" alt="User profile image thumbnail"><%= comment.user.name %>
          </a>
        </h3>
        <p><%= comment.body %></p>
      </summary>
      <% if current_user == comment.user %>
        <%= button_to "Delete", comment_url(comment), method: :delete, class: "delete right", title: "Delete comment" %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <form action="<%= create_url %>" class="user-edit group" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"
    <div class="input right">
      <label for="comment_body">Leave a comment:</label>
      <input type="text" name="comment[body]">

      <input type="submit" class="call-to-action right" title="Submit comment">
    </div>
  </form>
</section>
