<% create_url = (profile.is_a?(User) ? user_comments_url(profile.id) : petition_comments_url(profile.id)) %>


<section>
  <% if profile.comments %>
  <h2>Comments</h2>
  <ul>
    <% profile.comments.each do |comment|%>
    <li>
      <h3><img src="<%= comment.user.image.url(:thumbnail) %>"><%= link_to comment.user.name, user_url(comment.user) %></h3>
      <%= comment.body %>
      <% if current_user == comment.user %><br>
      <%= button_to "Delete Comment", comment_url(comment), method: :delete %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <form action="<%= create_url %>" class="user-edit" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"
    <div class="input">
      <label for="comment_body">Leave a comment:</label>
      <input type="text" name="comment[body]">
    </div>
  </form>
</section>
