<% title = (petition.persisted? ? "Edit this petition" : "Start a petition") %>
<% action = (petition.persisted? ? petition_url(petition) : petitions_url)%>
<% form_method = (petition.persisted? ? "put" : "post")%>

<header>
  <h1><%= title %></h1>
</header>

<form action="<%= action %>" method="post"
        enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= form_method %>">

  <% unless petition.errors.full_messages.blank? %>
    <ul id="flash">
    <% petition.errors.full_messages.try(:each) { |message| %>
     <li class="errors"><%= message %></li>
    <% } %>
    </ul>
  <% end %>

  <div class="input">
    <label for="petition_recipient_ids">Recipients</label>
    <select name="petition[recipient_ids][]" id="petition_recipient_ids">
      <option value=""></option>
      <% recipients.each do |recipient| %>
      <option
        value="<%= recipient.id %>"
        <% if petition.recipients[0] %>
        <%= "selected" if petition.recipients[0].id == recipient.id %>
        <% end %>>
        <%= recipient.list_name %>
      </option>
      <% end %>
    </select>

    <select name="petition[recipient_ids][]" >
      <option value=""></option>
      <% recipients.each do |recipient| %>
      <option
        value="<%= recipient.id %>"
        <% if petition.recipients[1] %>
        <%= "selected" if petition.recipients[1].id == recipient.id %>
        <% end %>>
        <%= recipient.list_name %>
      </option>
      <% end %>
    </select>

    <select name="petition[recipient_ids][]" >
      <option value=""></option>
      <% recipients.each do |recipient| %>
      <option
        value="<%= recipient.id %>"
        <% if petition.recipients[2] %>
        <%= "selected" if petition.recipients[2].id == recipient.id %>
        <% end %>>
        <%= recipient.list_name %>
      </option>
      <% end %>
    </select>

    <%= link_to "Create Recipient", new_recipient_url, class: "create-recipient" %>
  </div>

  <div class="input">
    <label for="petition_cause_ids">Cause</label>
    <select name="petition[cause_ids][]" id="petition_cause_ids">
      <option value=""></option>
      <% Cause.find_each do |cause| %>
      <option value="<%= cause.id %>"
        <% if petition.causes[0] %>
        <%= "selected" if petition.causes[0].id == cause.id %>
        <% end %>>
        <%= cause.name.humanize %>
      </option>
      <% end %>
    </select>
  </div>

  <div class="input">
    <label for="petition_goal">How many signatures do you need?</label>
    <small>(Defaults to 100)</small>
    <input type="number" name="petition[goal]" id="petition_goal"
           value="<%= petition.goal %>">
  </div>

  <div class="input">
    <label for="petition_title">What action do you want taken?</label>
    <input type="text" name="petition[title]"
           value="<%= petition.title %>" id="petition_title">
  </div>

  <div class="input">
    <label for="petition_background">Why is this important to you?</label>
    <textarea name="petition[background]" id="petition_background"><%= petition.background %></textarea>
  </div>

  <div class="input">
    <label for="petition_body">What should the letter say?</label>
    <textarea name="petition[body]" id="petition_body"><%= petition.body %></textarea>
  </div>

  <div class="input">
  <label for="petition_image">Upload a photo:</label>
    <input type="file" name="petition[image]" value="petition_image" id="petition_image">
  </div>

  <input type="submit" value="Save" class="call-to-action">

</form>