<% title = (petition.persisted? ? "Edit this petition" : "Start a petition") %>
<% action = (petition.persisted? ? petition_url(petition) : petitions_url)%>
<% form_method = (petition.persisted? ? "put" : "post")%>

<header>
  <h1><%= title %></h1>
</header>

<form action="<%= action %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= form_method %>">

  <div class="input">
    <label for="petition_recipient_ids">Recipients</label>
    <select name="petition[recipient_ids][]" id="petition_recipient_ids">
      <option value=""></option>
      <% recipients.each do |recipient| %>
      <option
        value="<%= recipient.id %>"
        <% if petition.recipients[0] %>
        <%= "selected" if petition.recipients[0].id == recipient.id %>
        <% end %>>
        <%= recipient.list_name %>
      </option>
      <% end %>
    </select>

    <select name="petition[recipient_ids][]" >
      <option value=""></option>
      <% recipients.each do |recipient| %>
      <option
        value="<%= recipient.id %>"
        <% if petition.recipients[1] %>
        <%= "selected" if petition.recipients[1].id == recipient.id %>
        <% end %>>
        <%= recipient.list_name %>
      </option>
      <% end %>
    </select>

    <select name="petition[recipient_ids][]" >
      <option value=""></option>
      <% recipients.each do |recipient| %>
      <option
        value="<%= recipient.id %>"
        <% if petition.recipients[2] %>
        <%= "selected" if petition.recipients[2].id == recipient.id %>
        <% end %>>
        <%= recipient.list_name %>
      </option>
      <% end %>
    </select>

    <%= link_to "Create Recipient", new_recipient_url, class: "create-recipient" %>
  </div>


  <ul>
  <% petition.errors.full_messages.try(:each) { |message| %>
   <li><%= message %></li>
  <% } %>
  </ul>

  <div class="input">
    <label for="petition_title">Title:</label>
      <input type="text" name="petition[title]"
             value="<%= petition.title %>" id="petition_title">
  </div>

  <div class="input">
    <label>Background:</label>
    <textarea name="petition[background]"><%= petition.background %></textarea>
  </div>

  <div class="input">
    <label>Body:</label>
    <textarea name="petition[body]"><%= petition.body %></textarea>
  </div>

  <input type="submit" value="Save" class="call-to-action">

</form>