<% title = (petition.persisted? ? "Edit this petition" : "Start a petition") %>
<% action = (petition.persisted? ? petition_url(petition) : petitions_url)%>
<% form_method = (petition.persisted? ? "put" : "post")%>

<h2><%= title %></h2>

<form action="<%= action %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= form_method %>">

  <select name="petition[recipient_ids][]" >
    <option value="">-----</option>
    <% recipients.each do |recipient| %>
    <option
      value="<%= recipient.id %>"
      <% if petition.recipients[0] %>
      <%= "selected" if petition.recipients[0].id == recipient.id %>
      <% end %>>
      <%= recipient.prettify_title %>
    </option>
    <% end %>
  </select>
  <select name="petition[recipient_ids][]" >
    <option value="">-----</option>
    <% recipients.each do |recipient| %>
    <option
      value="<%= recipient.id %>"
      <% if petition.recipients[1] %>
      <%= "selected" if petition.recipients[1].id == recipient.id %>
      <% end %>>
      <%= recipient.prettify_title %>
    </option>
    <% end %>
  </select>
  <select name="petition[recipient_ids][]" >
    <option value="">-----</option>
    <% recipients.each do |recipient| %>
    <option
      value="<%= recipient.id %>"
      <% if petition.recipients[2] %>
      <%= "selected" if petition.recipients[2].id == recipient.id %>
      <% end %>>
      <%= recipient.prettify_title %>
    </option>
    <% end %>
  </select>

  <ul>
  <% petition.errors.full_messages.try(:each) { |message| %>
   <li><%= message %></li>
  <% } %>
  </ul>

  <label>Title:<br>
    <input type="text" name="petition[title]" value="<%= petition.title %>">
  </label><br>

  <label>Background:<br>
    <textarea name="petition[background]"><%= petition.background %></textarea>
  </label><br>

  <label>Body:<br>
    <textarea name="petition[body]"><%= petition.body %></textarea>
  </label><br>

  <input type="submit">

</form>