<ul class="last-viewed left">
  <h2>Last Viewed</h2>
  <li>
    <a href="<%= petition_url(last_viewed) %>" title="<%= "View \"#{last_viewed.title}\"" %>">
    <img src="<%= last_viewed.image.url(:thumbnail) %>" class="left"
      alt="Petition thumbnail image" title="<%= "#{last_viewed.title}'s petition image" %>">
    <%= last_viewed.title %>
    </a>
    by <%= link_to last_viewed.creator.name, user_url(last_viewed.creator), title: "View #{last_viewed.creator.name}'s profile" %>
  </li>
</ul>