<ul>
  <h2><%= link_to "Petitions", petitions_url, title: "View all petitions" %></h2>
  <% petitions.each do |petition| %>
  <li class="group">
    <img src="<%= petition.image.url(:thumbnail) %>"
         alt="Petition photo thumbnail"
         title="<%= "#{petition.title}'s petition image" %>"
         class="left">
    <span class="left text">
      <h3>
        <%= link_to petition.title, petition_url(petition), title: "View \"#{petition.title}\"" %>
      </h3>
      <ul class="group">
      <li class="left">
<img src="<%= petition.creator.image.url(:thumbnail) %>" alt="User profile photo thumbnail" title="<%= "#{petition.creator.name}'s profile photo thumbnail" %>" class="left">
      <%= link_to petition.creator.name, user_url(petition.creator), title: "View #{petition.creator.name}'s profile" %><br>
<%= petition.creator.contact.city %>, <%= petition.creator.contact.state %></li>
      <li class="left"><%= petition.petition_signatures.count %><br>Signatures</li>
      <li class="left"><%= "#{I18n.t("date.abbr_month_names")[petition.created_at.month]}. #{petition.created_at.day}, #{petition.created_at.year}" %><br>Created at</li>
    </ul>
    </span>
  </li>
  <% end %>
</ul>
