<main id="petition-index" class="group">
  <section id="breadcrumbs">
    <%= link_to "Petitions", petitions_url %>
  </section>

  <header>
    <h1>Petitions</h1>
    <h2>Find a petition you're passionate about and find ways to make <span class="logo">change</span> in your community.</h2>
  </header>

  <ul class="causes left">
    <h2>Causes</h2>
    <%= render "causes/list", causes: @causes %>
  </ul>

  <ul class="petitions left">
    <% @petitions.each do |petition| %>
    <li>
      <h3><%= link_to petition.title, petition_url(petition) %></h3>
      <summary>
        <% if logged_in? %>
          <% text = (petition.petition_signatures.include?(PetitionSignature.find_single(current_user, petition)) ? "View" : "Sign")%>
        <% else %>
          <% text = "Sign" %>
        <% end %>
        <%# this cond will need to be changed by adding a default image for users %>
        <img src="<%= petition.creator.image.url(:thumbnail) %>">
        <%= link_to petition.creator.name, user_url(petition.creator) %> ·
        <%= petition.petition_signatures.length %> signatures ·
        <%= link_to text, petition_url(petition) %>
      </summary>
      <p>
        <%= petition.body %>
      </p>
    </li>
    <% end %>
  </ul>

</main>