<section id="slider">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <% @petitions.each do |petition| %>
            <div class="item">
                <%= image_tag petition.image_file_name, width: "100%" %>
                <div id="sliderMenu">
                    <a href="#" class="button"  id="winBtn">Перемога</a>
                    <a href="#" class="button" id="blagoBtn">Благоустрій</a>
                    <a href="#" id="userIcon">
                        <%= image_tag petition.creator.image_file_name %>
                    </a>
                    <p id="name"><%= petition.creator.first_name %></p>
                    <p id="surname"><%= petition.creator.last_name %></p>
                    <p id="city">City,</p>
                    <p id="region">Region</p>
                    <p id="followerCounter"><%= petition.petition_signatures.count %></p>
                    <p id="followers">Користувачів</p>
                    <p id="lastActivity">Остання активність</p>
                    <p id="lastActivityMinutes">3 хвилини тому</p>
                </div>
            </div>
        <% end %>
    </div>
</section>

