<section id="slider">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <% @petitions.each do |petition| %>
            <div class="item">
                <%= image_tag petition.image_file_name, width: "100%" %>
                <div id="sliderMenu">
                    <a href="#" class="button"  id="winBtn"><%= petition.category.name %></a>
                    <a href="<%= petition_url(petition) %>" class="button" id="blagoBtn"><%= petition.title %></a>
                    <a href="#" id="userIcon">
                        <%= image_tag petition.creator.image_file_name %>
                    </a>
                    <p id="name"><%= petition.creator.first_name %></p>
                    <p id="surname"><%= petition.creator.last_name %></p>
                    <p id="city"><%= petition.creator.contact.city if petition.creator.contact %></p>
                    <p id="region"><%= petition.creator.contact.state if petition.creator.contact %></p>
                    <p id="followerCounter"><span class="badge"><%= petition.petition_signatures.count %></span></p>
                    <p id="followers">Користувачів</p>
                    <p id="lastActivity">Остання активність</p>
                    <p id="lastActivityMinutes">3 хвилини тому</p>
                </div>
            </div>
        <% end %>
    </div>
</section>

<section id="main">
    <div class="box alert alert-info alert-dismissible" role="alert"">
        <button type="button" class="close" data-dismiss="alert" aria-label="Закрити"><span aria-hidden="true">&times;</span></button>
        <div class="text-center">
            <h2>Громадський сервіс петицій до державних органів України</h2>
            <div class="circle">
                <h3 class="circleText">Створи<br>петицію</h3>
            </div>
            <div class="arrow-box">
                <i class="fa fa-arrow-right"></i>
            </div>
            <div class="circle">
                <h3 class="circleText">Збери<br>підписи</h3>
            </div>
            <div class="arrow-box">
                <i class="fa fa-arrow-right"></i>
            </div>
            <div class="circle">
                <h3 class="circleText">Слідкуй за<br>рішенням</h3>
            </div>
            <div class="arrow-box" style="font-size: 1.5em; vertical-align: middle;">
                <a href="#">Що таке<br>петиції?</a>
            </div>
        </div>
    </div>
</section>

