<h2><%= @petition.title %></h2>
<small>Status: <%= @petition.approved %></small>

<% if @petition_signature.persisted? %>
<h4>You've signed this petition!</h4>
<% end %>

<summary><%= @petition.petition_signatures.count %> signatures</summary>
<small><%= @petition.goal %> needed</small><br>

<% if current_user == @petition.creator && @petition.victory.nil? %>
  <%= link_to "Edit petition", edit_petition_url(@petition) %>
  <%= button_to "Delete petition", petition_url(@petition), method: :delete%>
<% end %>
<br>
<% unless @petition.recipients.empty? %>
<details>
  <summary>Petitioning:</summary>
  <ul>
    <% @petition.recipients.each do |recipient| %>
    <li>
      <img src="<%= recipient.image.url(:thumbnail) %>">
      <%= recipient.list_name %>
    </li>
    <% end %>
  </ul>
</details>
<% end %>

<p><small>Petition by:</small><br>
  <img src="<%= @creator.image.url(:thumbnail) %>">
  <%= link_to @creator.name, user_url(@creator) %><br>
  <% if @creator.contact_details[0] %>
  <% unless @creator.contact_details[0].city.blank? || @creator.contact_details[0].state.blank? %>
    <%= @creator.contact_details[0].city %>, <%= @creator.contact_details[0].state %>
    <% end %>
    <% end %></p>
  <hr>

  <% if @victory.persisted? %>
  <h4>Victory message:</h4>
  <%= @victory.description %>
  <% end %>

<h4>Petition background:</h4>
<p><%= @petition.background %></p>
<h4>Petition text:</h4>
<p><%= @petition.body %></p>

  <form
    action="<%= petition_petition_signature_index_url(@petition) %>"
    method="post">
    <input name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %>">

    <input type="submit" value="Sign" <%= "disabled" if @petition_signature.persisted? %>>
  </form>