<h3><%= @petition.title %></h3>
<% if current_user == @petition.creator && @petition.victory.nil? %>
  <%= link_to "Edit petition", edit_petition_url(@petition) %>
  <%= button_to "Delete petition", petition_url(@petition), method: :delete%>
<% end %>

<% unless @petition.recipients.empty? %>
<ul>Petitioning
  <% @petition.recipients.each do |recipient| %>
  <li><%= recipient.prettify_title %></li>
  <% end %>
</ul>
<% end %>

<p><small>Petition by:</small><br>
  <%= link_to @creator.name, user_url(@creator) %><br>
  <% if @creator.contact_details[0] %>
  <% unless @creator.contact_details[0].city.blank? || @creator.contact_details[0].state.blank? %>
    <%= @creator.contact_details[0].city %>, <%= @creator.contact_details[0].state %>
    <% end %>
    <% end %></p>
  <hr>
<p><small>Petition background:</small><br>
  <%= @petition.background %></p>
<p><small>Petition text:</small><br>
  <%= @petition.body %></p>

  <%#= button_to "Sign", petition_petition_signature_index_url(@petition)%>

  <form
    action="<%= petition_petition_signature_index_url(@petition) %>"
    method="post">
    <input name="authenticity_token"
      type="hidden"
      value="<%= form_authenticity_token %>">

    <input type="submit" value="Sign" <%= "disabled" if @petition_signature.persisted? %>>
  </form>