<h3><%= @petition.title %></h3>
<% if current_user == @petition.creator %>
  <%= link_to "Edit petition", edit_petition_url(@petition) %>
  <%= button_to "Delete petition", petition_url(@petition), method: :delete%>
<% end %>
<p><small>Petition by:</small><br>
  <%= link_to @creator.name, user_url(@creator) %><br>
  <%= @creator.contact_details.first.city %>,
  <%= @creator.contact_details.first.state %></p>
<hr>
<p><small>Petition background:</small><br>
  <%= @petition.background %></p>
<p><small>Petition text:</small><br>
  <%= @petition.body %></p>