<ul class="victories-list">
  <h2><%= link_to "Victories", victories_url, title: "View all victories" %></h2>
  <% victories.each do |victory| %>
  <li class="group">
    <img src="<%= victory.petition.image.url(:thumbnail) %>"
         alt="Petition photo thumbnail"
         title="<%= "#{victory.description}'s petition image" %>"
         class="left">
         <span class="left text">
    <%= link_to victory.description, petition_url(victory.petition_id),
         title: "View petition \"#{victory.petition.title}\"" %><br>
          <%= "#{I18n.t("date.abbr_month_names")[victory.created_at.month]}. #{victory.created_at.day}, #{victory.created_at.year}" %>
       </span>
  </li>
  <% end %>
</ul>