<main id="petition-index" class="group">
  <section id="breadcrumbs">
    <%= link_to "Victories", victories_url, title: "View all victories" %>
  </section>

  <header>
    <h1>Victories</h1>
    <h2>Every day, <span class="logo">kardinal</span> members win people-powered campaigns for social change.</h2>
    <%= link_to "Start a petition", new_petition_url, title: "Start a petition" %>
  </header>

  <%= render "causes/list", causes: @causes %>

  <ul class="petitions left">
    <%= paginate @victories %>
    <% @victories.each do |victory| %>
    <li>
      <h3><%= link_to victory.petition.title, petition_url(victory.petition), title: "View \"#{victory.petition.title}\"" %></h3>
      <summary>
        <img src="<%= victory.petition.creator.image.url(:thumbnail) %>">
        <%= link_to victory.petition.creator.name, user_url(victory.petition.creator), title: "View #{victory.petition.creator}'s name" %> ·
        <%= victory.petition.petition_signatures.length %> signatures ·
        <%= "#{I18n.t("date.abbr_month_names")[victory.created_at.month]}. #{victory.created_at.day}, #{victory.created_at.year}" %>
      </summary>
      <p>
        <%= victory.description %>
      </p>
    </li>
    <% end %>
  </ul>

</main>