<ul>
  <% @victories.each do |victory| %>
  <li>
    <h3><%= link_to victory.petition.title, petition_url(victory.petition) %></h3>
    <summary>
      by: <%= link_to victory.petition.creator.name, user_url(victory.petition.creator) %> ·
      <%= victory.petition.petition_signatures.length %> signatures · <%= victory.created_at %>
    </summary>
    <p>
      <%= victory.description %>
    </p>
  </li>
  <% end %>
</ul>