<main id="user-edit">
  <form action="<%= user_url(@user) %>" method="post"
        enctype="multipart/form-data">
    <h1>Edit Profile</h1>
    <input type="hidden" name="_method" value="put">
    <input type="hidden" name="authenticity_token"
           value="<%= form_authenticity_token %>">

    <% if !@user.errors.empty? %>
      <ul id="flash">
      <% @user.errors.full_messages.try(:each) { |message| %>
        <li class="errors"><%= message %></li>
      <% } %>
      </ul>

    <% elsif !@contact_detail.errors.empty? %>
      <ul id="flash">
      <% @contact_detail.errors.full_messages.try(:each) { |message| %>
        <li class="errors"><%= message %></li>
      <% } %>
      </ul>
    <% end %>

    <label for="user_image">Photo:</label>
      <input type="file" name="user[image]" value="user_image" id="user_image">

    <label for="user_email">Email:</label>
      <input type="text" name="user[email]"
             value="<%= @user.email %>" id="user_email">

    <label for="user_name">Name:</label>
      <input type="text" name="user[name]"
             value="<%= @user.name %>" id="user_name">

    <label for="contact_details_street_Address">Street Address:</label>
      <input type="text" name="contact_details[street_address]"
             value="<%= @contact_detail.street_address %>"
             id="contact_details_street_Address">

    <label for="contact_details_city">City:</label>
      <input type="text" name="contact_details[city]"
             value="<%= @contact_detail.city %>" id="contact_details_city">

    <label for="contact_details_state">State:</label>
      <select name="contact_details[state]" id="contact_details_state">
        <option value=""> </option>
        <% ContactDetail.list_states.each do |state| %>
        <option value="<%= state %>" <%= "selected" if @contact_detail.state == state %>>
          <%= state %>
        </option>
        <% end %>
      </select>

    <label for="contact_details_zip">Zip:</label>
      <input type="text" name="contact_details[zip]"
             value="<%= @contact_detail.zip %>" id="contact_details_zip">

    <label for="contact_details_country">Country:</label>
      <input type="text" name="contact_details[country]"
             value="<%= @contact_detail.country %>" id="contact_details_country">

    <label for="contact_details_phone">Phone:</label>
      <input type="text" name="contact_details[phone]"
             value="<%= @contact_detail.phone %>" id="contact_details_phone">

    <label for="contact_details_birthday">Birthday:</label>
      <input type="date" name="contact_details[birthday]"
             value="<%= @contact_detail.birthday %>" id="contact_details_birthday">

    <label for="contact_details_website">Website:</label>
      http://<input type="text" name="contact_details[website]"
             value="<%= @contact_detail.website%>" id="contact_details_website">

    <label for="contact_details_description">Description:</label>
      <textarea name="contact_details[description]" id="contact_details_description"><%= @contact_detail.description %></textarea>

    <input type="submit" class="call-to-action">
  </form>
  <%= button_to "Delete account", user_url(@user), method: :delete, class: "delete"%>

</main>