<main id="user-show">
  <div class="controls right">
    <%= link_to "Edit Profile", me_edit_url, title: "Edit profile" %>
    <%= link_to "Preview Profile", user_url(current_user), title: "Preview profile" %>
  </div>

  <%= render "profile", user: @user, contact_detail: @contact_detail %>
  <%= render "petitions/list", user: @user, petitions: current_user.petitions %>
  <%= render "comments/list", profile: current_user %>
</main>