<h2>Create Recipient</h2>

<form action="<%= recipients_url %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <h3>Recipient Personal Information</h3>

  <ul>
  <% @recipient.errors.full_messages.try(:each) { |message| %>
    <li><%= message %></li>
  <% } %>

  </ul>

  <label>Title:<br>
    <select name="recipient[title]">
      <% Recipient.list_titles.each do |title| %>
      <option value="<%= title %>" <%= "selected" if @recipient.title == title %>>
        <%= title %>
      </option>
      <% end %>
    </select>
  </label><br>


  <label>First Name:<br>
    <input type="text" name="recipient[first_name]"
           value="<%= @recipient.first_name %>">
  </label><br>

  <label>Middle Name:<br>
    <input type="text" name="recipient[middle_name]"
           value="<%= @recipient.middle_name %>">
  </label><br>

  <label>Last Name:<br>
    <input type="text" name="recipient[last_name]"
           value="<%= @recipient.last_name %>">
  </label><br>

  <label>Region of Influence:<br>
    <select name="recipient[gov_state]">
      <% ContactDetail.list_states.each do |state| %>
      <option value="<%= state %>" <%= "selected" if @recipient.gov_state == state %>>
        <%= state %>
      </option>
      <% end %>
    </select>
  </label><br>


  <hr>

  <h3>Recipient Contact Information</h3>

  <% @contact_detail.errors.full_messages.try(:each) { |message| %>
    <li><%= message %></li>
  <% } %>

  <label>Street Address:<br>
    <input type="text" name="contact_details[street_address]"
           value="<%= @contact_detail.street_address %>">
  </label><br>

  <label>City:<br>
    <input type="text" name="contact_details[city]"
           value="<%= @contact_detail.city %>">
  </label><br>

  <label>State:<br>
    <select name="contact_details[state]">
      <% ContactDetail.list_states.each do |state| %>
      <option value="<%= state %>" <%= "selected" if @contact_detail.state == state %>>
        <%= state %>
      </option>
      <% end %>
    </select>
  </label><br>

  <label>Zip:<br>
    <input type="text" name="contact_details[zip]"
           value="<%= @contact_detail.zip %>">
  </label><br>

  <label>Country:<br>
    <input type="text" name="contact_details[country]"
           value="<%= @contact_detail.country %>">
  </label><br>

  <label>Phone:<br>
    <input type="text" name="contact_details[phone]"
           value="<%= @contact_detail.phone %>">
  </label><br>

  <label>Birthday:<br>
    <input type="date" name="contact_details[birthday]"
           value="<%= @contact_detail.birthday %>">
  </label><br>

  <label>Website:<br>
    <input type="text" name="contact_details[website]"
           value="<%= @contact_detail.website %>">
  </label><br>

  <label>Description:<br>
    <textarea name="contact_details[description]"><%= @contact_detail.description %></textarea>
  </label><br>

  <input type="submit">
</form>