<h3><%= @organization.name %></h3>
<div><%= @organization.description %></div>
<div>Phone: <%= @organization.phone %></div>
<div>Website url: <%= link_to @organization.website_url, @organization.website_url %></div>
<div>Facebook page url: <%= link_to @organization.facebook_page_url, @organization.facebook_page_url %></div>
