<!DOCTYPE html>
<html>
<head>
  <title>Cardinal</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to "Start a petition", new_petition_url%>
      <li><%= link_to "Browse petitions", petitions_url %></li>
      <% if logged_in? %>
      <li><img src="<%= current_user.image.url(:thumbnail) %>"></li>
      <li><%= link_to current_user.name, me_url %></li>
      <li><%= button_to "Log out", session_url, method: :delete %></li>
      <% else %>
      <li><%= link_to "Sign In", login_url %></li>
      <li><a href="/auth/facebook">Sign In via Facebook</a></li>
      <% end %>
    </ul>
  </nav>

  <ul>
  <% flash.try(:each) {|name, message| %>
    <li><%= message %></li>
  <% } %>
  </ul>

<%= yield %>
</body>
</html>
