<!DOCTYPE html>
<html>
<head>
  <title>Cardinal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="group">
    <a class="logo left" href="<%= root_url %>">kardinal</a>

    <ul class="main-links">
      <li><%= link_to "Start a petition", new_petition_url%></li>
      <li><%= link_to "Browse petitions", petitions_url %></li>
    </ul>

    <nav class="group right">
      <ul class="user">
        <% if logged_in? %>
        <details>
          <summary>
            <img src="<%= current_user.image.url(:thumbnail) %>">
            <%= link_to current_user.name, me_url %>
          </summary>
        <%= button_to "Log out", session_url, method: :delete, class: "mild-action" %>
        </details>
        <% else %>
        <li><%= link_to "Sign in", login_url, class: "mild-action" %></li>
        <li class="fb-login"><a href="/auth/facebook">Sign In via Facebook</a></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <main>
    <ul>
    <% flash.try(:each) {|name, message| %>
      <li><%= message %></li>
    <% } %>
    </ul>
    <%= yield %>
  </main>
  <footer>
    <nav class="group">
      <small class="left">&copy; 2014
        <a class="copy" href="http://www.timothylevi.com">Timothy Levi Campbell</a></small>
      <ul class="right">
        <li>&middot; <%= link_to "About", "#" %></li>
        <li>&middot; <%= link_to "Browse Petitions", petitions_url %></li>
        <li>&middot; <%= link_to "Credits", "#" %></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
