<!DOCTYPE html>
<html>

	<head>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta charset="UTF-8">
		<title>Change IT</title>
	</head>
	<body>
		<div class="row">
      <div class="col-md-2"></div>
      <% if flash[:errors].present? %>
        <% flash[:errors].each do |error| %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
        <% end %>
      <% end %>
      <% if flash[:notices].present? %>
        <% flash[:notices].each do |notice| %>
          <div class="alert alert-success" role="alert"><%= notice %></div>
        <% end %>
      <% end %>

      <%= yield %>

			<div class="col-md-2"></div>
		</div>
	</body>
</html>

